@model MVCBlog.Models.Comment

@{
    ViewBag.Title = "Изтрий";
}




<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Текст")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.Label("Дата")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.Label("Автор")
        </dt>

        <dd>
            @if (Model.Author != null)
            {
                <i>@Model.Author.FullName (@Model.Author.UserName)</i>
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Бастисай" class="btn btn-default" /> |
            @Html.ActionLink("Към коментарите", "Index", new { p = Model.Post })
        </div>
    }
</div>
