@model IEnumerable<MVCBlog.Models.Comment>

@{
    ViewBag.Title = "Коментари";
}


<h3>Коментари</h3>
<p></p>
<p>
    @{var m = Request.QueryString["p"];}
    @Html.ActionLink("Нов коментар", "Create", new { p = m })
</p>

<table class="table">
    <tr>
        <th>
            @Html.Label("Текст")
        </th>
        <th>
            @Html.Label("Дата")
        </th>
        <th>
            @Html.Label("Автор")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @if (item.Author != null)
            {
                <i>@item.Author.FullName (@item.Author.UserName)</i>
            }
        </td>
        <td>
        @if (User.IsInRole("Administrators"))
        {
            @Html.ActionLink("Редактирай", "Edit", new { id = item.Id, p = m }) @:|            
            @Html.ActionLink("Изтрий", "Delete", new { id = item.Id, p = m })
        }
        </td>
    </tr>
}

</table>

<p>    
    @Html.ActionLink("Към статията", "Details", "Posts", new { id = m }, null)
</p>

