@model MVCBlog.Models.Post

@{
    ViewBag.Title = "Детайли";
}

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Заглавие
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
            <p></p>
        </dd>
       
        <dt>
            Съдържание
        </dt>

        <dd>
            @Html.Raw(Model.Body)
            <p></p>
        </dd>

        <dt>
            Дата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>    
    @if (User.Identity.Name.Equals(Model.Author.Email) || User.IsInRole("Administrators"))
    {
        @Html.ActionLink("Редактирай", "Edit", new { id = Model.Id }) @:|        
    }
    @Html.ActionLink("Обратно към статиите", "Index")
</p>
